* {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px #68686860;
}

body {
    background-color: #E6ECFA;
}

.header {
    background-color: #204E6B;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin: 0px 0px 0px 0px;
    padding: 20px 20px 20px 20px;
}

.elements_container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* Contenedor padre de cada elemento del encabezado */
.element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
}

.element:nth-child(4) {
    flex-grow: 1;
    justify-content: right;
}

.enlace {
    font-size: 24px;
    text-decoration: none;
    color: white;
    margin: 10px;
}

.page_logo {
    width: 124px;
    height: 80px;
}

.main_page_container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin: 10px 10px 10px 10px;
}

.main_page_container > div {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    padding: 2px 2px 2px 2px;
    min-width: 200px;
    min-height: 200px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_page_container > div:hover {
    border-style: solid;
    border-width: 0.1px 0.1px 0.1px 0.1px;
    border-color: #204E6B;
}

.material-symbols-outlined {
    font-size: 80px;
    font-variation-settings:
    'FILL' 0,
    'wght' 50,
    'GRAD' 0,
    'opsz' 24
}

#sensor_humedad_1 {
    color: lightblue;
}

#sensor_temperatura_1 {
    color: orange;
}

#bateria_dispositivo_1 {
    color: rgb(192, 192, 104);
}

#grafico_humedad_1 {
    width: 400px;
    height: 400px;
}